* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

header {
	width: 100%;
	height: 60px;
	line-height: 58px;
	text-align: center;
	/*border: 1px solid red;*/
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Myriad Set Pro", sans-serif;
	margin: 0;
}

	header h3 {
		font-size: 14px;
		line-height: 37px;
		text-align: center;
	}

.green {
	color: #00AB6B;
}

h3 {
	font-size: 14px;
}

h1 {
	font-family: "arial";
	font-size: 44px;
	color: #333333;
	margin-top: 30px;
}

h2 {
	font-family: "Myriad Set Pro", serif;
	font-size: 20px;
	color: #333333;
	line-height: 34px;
}

.bigger-h2 {
	font-family: "arial";
	font-size: 34px;
	margin-top: 30px;
}

.smaller-h2 {
	font-size: 24px;
}



.mid {
	color: #828282;
	line-height: 2px;
	letter-spacing: 1px;
	margin: 0;

}

.text {
	height: 100%;
    /*border: 1px solid red;*/
    display: inline-block;
    margin: 0 0 0 165px;
}

.text2 {
    height: 100%;
    /*border: 1px solid red;*/
    display: inline-block;
    margin: 0 150px 0 0;
    float: right;
    padding-top: 22px;
}
	
.gray {
	color: #B3B3B3;
}


.header-item {
	width: 33%;
	height: 100%;
	margin: 0 auto;
	display: inline-block;
	/*border: 1px solid green;*/
	text-align: center;

}

	img {
		height: 70%;
		margin-top: 10px;
	}

.right {
	float: right;
	text-align: right;
}	

.left {
	float: left;
	text-align: left;
	margin-left: 10px;
}

.search-button {
	width: 200px;
	height: 37px;
	margin: 10px 0px;
	border: 1px solid #D9D9D9;
	border-radius: 50px;
	text-align: center;
	line-height: 37px;
	font-family: "Myriad Set Pro", sans-serif;
	color: #D9D9D9	;
}

.sign-in-button {
	width: 150px;
	height: 37px;
	margin: 10px 10px 0 8px;
	border: 1px solid #00AB6B;
	border-radius: 50px;
}

.author-recommended-container {
	width: 45%;
	margin: 50px auto 0px;
	/*border: 1px solid black;*/
}

.author {
	width: 49%;
	height: 40px;
	display: inline-block;
	text-align: left;
}

.recommended {
	width: 49%;
	display: inline-block;
	float: right;
	text-align: right;

}

.sml-img {
	height: 100%;
	border: 1px solid #fff;
	border-radius: 100%;
	margin: 0;
	float: left;

}

.sml-text {
	display: inline-block;
	margin: 5px 5px;
}

.main-content-container {
	width: 45%;
	margin: 40px auto;
}

.footer {
	margin-top: 60px;
	height: 400px;
	background-color: #020733;
    background-image: url(https://cdn-images-1.medium.com/max/2000/1*OlgaspZ00W78xQY-HE9Wsg.png);
    background-repeat: no-repeat;
    background-position: 50% 25px;
}

.footer-text-container {
	width: 30%;
	margin: 0 auto;
	padding: 65px 0;	
	text-align: center;
}

.footer-text-container h2 {
	color: #fff;
}














