* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

header {
	width: 100%;
	height: 60px;
	line-height: 58px;
	text-align: center;
}

 h1, h2, h3, h4, h5, h6 {
	font-family: "Myriad Set Pro", sans-serif;
	margin: 0;
}

p {
	line-height: 0;
}

.header-h3 {
	font-size: 14px;
	line-height: 37px;
	text-align: center;
}

.green {
	color: #00AB6B;
}

h3 {
	font-size: 14px;
}

h1 {
	font-family: "arial";
	font-size: 44px;
	color: #333333;
	margin-top: 30px;
}

h2 {
	font-family: "Myriad Set Pro", serif;
	font-size: 20px;
	color: #333333;
	line-height: 34px;
}

.bigger-h2 {
	font-family: "arial";
	font-size: 34px;
	margin-top: 30px;
}

.smaller-h2 {
	font-size: 24px;
}

.footer-text-h2 {
	font-size: 24px;
}

.gray {
	color: #B3B3B3;
}


.header-item {
	width: 33%;
	height: 100%;
	margin: 0 auto;
	display: inline-block;
	text-align: center;
	/*border: 1px solid green;*/
}

.header-item-mid {
	width: 142px;
	height: 100%;
	margin: 3px auto;
	display: inline-block;
	text-align: center;
	/*border: 1px solid red;*/
}

img {
	height: 70%;
	margin-top: 10px;
}

.img-special {
	float: left;	
	margin: 8px 0;
}

.mid-sml-text {
	height: 30px;
	text-align: left;
	float: right;
	line-height: 5px;
	margin-top: 20px;
}

.subtext {
	color: #333;
	letter-spacing: 1px;
}

.right {
	float: right;
	text-align: right;
}	

.left {
	float: left;
	text-align: left;
	margin-left: 10px;
}

.search-button {
	width: 200px;
	height: 37px;
	margin: 10px 0px;
	border: 1px solid #D9D9D9;
	border-radius: 50px;
	text-align: center;
	line-height: 37px;
	font-family: "Myriad Set Pro", sans-serif;
	color: #D9D9D9;
}

.sign-in-button {
	width: 150px;
	height: 37px;
	margin: 10px 10px 0 8px;
	border: 1px solid #00AB6B;
	border-radius: 50px;
}

.author-recommended-container {
	width: 600px;
	margin: 50px auto 0px;
}

.author {
	width: 49%;
	height: 40px;
	display: inline-block;
}

.recommended {
	width: 49%;
	display: inline-block;
	float: right;
	text-align: right;
}

.sml-img {
	height: 100%;
	border: 1px solid #fff;
	border-radius: 100%;
	margin: 0;
	float: left;
}

.sml-text {
	display: inline-block;
	margin: 5px 5px;
}

.main-content-container {
	width: 650px;
	margin: 40px auto;
}

.footer {
	margin-top: 60px;
	height: 400px;
	background-color: #020733;
    background-image: url(https://cdn-images-1.medium.com/max/2000/1*OlgaspZ00W78xQY-HE9Wsg.png);
    background-repeat: no-repeat;
    background-position: 50% 25px;
}

.footer-text-container {
	width: 35%;
	margin: 0 auto;
	padding: 65px 0;	
	text-align: center;
}

.footer-text-container h2 {
	color: #fff;
}

.media-right {
}

.media-middle {
}

.media-left {
}

.img-special-media {
	display: none;
}

.input-media {
	display: none;
}



@media (max-width: 1125px){
	.media-right {
		width: 44%;
	}
	.media-middle {
		width: 20%;
	}

}

@media (max-width: 850px){
	.media-left {
		width: 30%;
	}

	.media-right {
		width: 60%;
	}

	.media-middle {
		display: none;
		width: 10%;
		border: 1px solid red;
	}

	.img-special-media {
		display: inline-block;
		padding-left: 10px;
		border-left: 1px solid #ddd;
	}

	.author-recommended-container {
		width: 85%;
	}

	.main-content-container {
		width: 85%;
	}

	h1 {
		font-size: 36px;
	}

	.bigger-h2 {
		font-size: 26px;
	}

	h2 {
		font-size: 18px;
	}

	.mid-sml-text {
		display: none;
	}

	.search-button {
			display: none;
	}

	.input-media {
		width: 37px;
		height: 37px;
		border-radius: 100%;
		display: inline-block;
	}

	.footer-text-container {
		width: 75%;
		margin: 0 auto;
		padding: 165px 0;	
		text-align: center;
		padding: 85px 0;	
	
	}

	.footer-text-h2 {
		font-size: 18px;
		line-height: 24px;
	}

}


@media (max-width: 600px){
	.recommended {
		width: 100%;
		text-align: left;
		margin: 20px 0;
	}

	.author {
		width: 100%;
		height: 40px;
	}

}









